* {
    margin-left: 5%;
    margin-top: 0%;
    width: 90%;
}

section{
    border: 1px solid black;
    display: flex; 
    flex-direction: column;
    height: 200px;
    justify-content: center;
}

section div {
    text-align: center;
}


.title{
    width: auto;
}

h1 {
    font-size: 1.7em;
    font-weight: bolder;
    text-align: center;
    margin-top: 50px;
}

.cta {
    
    background-color: #313030;
    border: 1px solid #000000;
    border-radius: 100px;
    color: white;
    font-family: 'oswald';
    font-size: 2em;
    margin: 15px auto;
    padding: 2px;
    width: 10em;
}


/*******************     Mobile tablette     *******************/

  @media screen and (max-width: 605px) {

    *{
     margin: 0 0 ;
     width: 100%;
    }

    section div {
        margin: 0%;
        padding: 0px;
    }
    section div:last-child{
        margin-left: 0%;
        margin-right: 0%;
    }

    .title{
        height: 150px;
    }

    .title h1{
        padding-top: 10%;
        margin-top: 5px;

    }
    .cta{
        border-radius: 0px;
        font-family: 'oswald';
        height: 50px;
        margin: 0px 0px;
        width: 100%; 
    }

   }