.menu{
    display: flex;
    font-size: 1em;
    height: 70px;
    margin: 2px 5% ;
    width: 90%;
}

.flex{
    flex-direction: row;
}

.logo{
    font-family: 'oswald';
    font-size: 1.3em;
    font-weight: bolder;
    justify-content: left;
    padding: 20px 0% ;
    width: 40%;
}

.item{
    display: flex;
    justify-content: flex-end;
    width: 90%; 
}

.item div {
    padding: 25px 5% ;
}

.item div:hover {
    border-top: 1px solid orangered;
    color: orangered;
    font-weight: bolder;
  }

/*******************     Mobile tablette     *******************/

@media screen and (max-width: 605px) {

   .menu{
     margin: 0 ;
     width: 100%;
     padding : 0%;
    }

    .item div{
        pointer-events: none;
    }

}